body{
    background-color:black;
}

div{
    font-family:monospace;
    color:#bbb;
    margin:0;
}

body::selection, div::selection{
    background-color:white;
    color:black;
}

*:focus {
  outline: none;
}
